nav{
    padding-right: 10px;
    margin-right: 10px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

nav a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

nav a:hover{
    background-color: lightgray;
    border-radius: 5px;
}

span{
    color: red;
}

h1{
    font-size: 3rem;
    padding-top: 50px;
    padding-left: 50px;
}

h2{
    font-size: 3rem;
    padding-left: 50px;
}

h3{
    font-size: 3rem;
    padding-left: 50px;
}

img{
    width: 430px;
    height: 430px;
    border-radius: 1000px;
    margin-top: -100px;
    padding-right: -200px;
    padding-top: -500px;
}

aside{
    width: 30%;
    padding-left: 10px;
    margin-left: 10px;
    padding-right: 100px;
    float: right;
    font-style: italic;
    padding-top: -1000px;

}

div{
    padding-left: 50px;
}

input{
    width: 100px;
    height: 40px;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: white;
    
}

hr{
    border-color: lightgray;
}

footer{
    padding-top: 250px;
}

footer a{
    text-decoration: none;
    padding: 10px;
    color: black;
}